* {
    font-family: Helvetica
}

h1 {
    font-size: 100px;
    color: khaki;
    margin: 0 auto;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}

h1, h2, .price {
    font-weight: bold;
}

h2 {
    font-size: 32px;
    color: white;
}
h3 {
    font-weight: bold;
    font-size: 24px;
}

.price {
    color: blue;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}