/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General page styles */
body {
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
}

/* Header Styles */
header {
    margin-top: 50px;
}

header h1 {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 20px;
}

header a {
    color: aquamarine;
    font-size: 16px;
    text-decoration: none;
}

/* Video container styles */
.video-container {
    margin: 50px 0;
}

.video-container video {
    max-width: 300px;
}

/* Description section */
.description {
    color: gray;
}

.description h2 {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 10px;
    color: white;
}

.description p {
    font-size: 21px;
}

/* Landscape Image Container */
.landscape-container {
    margin: 40px 0;
}

.landscape-container {
    max-width: 80%;
    height: auto;
}

/* Footer Styles */
footer {
    margin: 50px 0;
}

footer .icon {
    margin-bottom: 20px;
}

footer .icon img {
    width: 50px;
}

footer h2 {
    font-size: 42px;
    margin: 20px 0;
}

footer p {
    color: gray;
    font-size: 14px;
    text-align: right;
    margin-right: 20px;
}